<!DOCTYPE html>
   <html>
    <head>
      <meta charset="utf-8" />
      <link rel="stylesheet" href="application.css" />
      <title>課題</title>
    </head>
　　
　　<body>
      <div>
        <p id="notice"><%= flash[:notice] %></p>
      </div>
     
      <p>
      <strong>Title:</strong>
      <%= @book.title %>
      </p>
      
      <p>
      <strong>Body:</strong>
      <%= @book.body %>
      </p>

      <a> <%= link_to "Edit", edit_book_path(@book.id) %> |
      <%= link_to "Back", :books %> </a>
    </body>
   </html>
